

{% load static %}


<div id="header">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-4 align-items-start" id="title">MAN's Portfolio </div>
            <div class="col-md-6 align-items-end">
                <ul id="menu">
                    <li><a href="{% url 'cv' %}">CV</a></li>
                    <li><a href="{% url 'main' %}">LinkedIn</a></li>
                    <li><a href="{% url 'main' %}">Projects</a></li>
                    <li><a href="{% url 'contact_info' %}">Contact Info </a></li>
                    <li><a href="{% url 'contact' %}">Contact me</a></li>
                </ul>
            </div>
        </div>
    </div>
    
</div>



